/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.nav-header-1-button{
    padding: 12px 24px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
}
.nav-header-1-button a{
    text-decoration: none;
}